<nav class="navbar navbar-expand-lg bg-primary text-white p-3">
  <div class="container">
    <h1>Bank Website</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-bold">
        <li class="nav-item p-3">Home</li>
        <li class="nav-item p-3">About</li>
        <li class="nav-item p-3">
          <button class="btn btn-light btn-sm" (click)="showButton()">Pay</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="about">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
        <p>{{ title() }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container bankaccount">
    <div class="row">
      <div class="col-12 col-md-6 justify-content-center align-items-center">
        <h2>Bank Accounts</h2>
        <h2>My balance {{ balance() }}</h2>
      </div>
      <div col-12 col-md-6>
        <table class="table accountTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Balance</th>
              <th>Deposit</th>
              <th>Withdraw</th>
            </tr>
          </thead>
          <tbody>
            @for(ele of accounts();track ele){
            <tr>
              <td>{{ ele.name }}</td>
              <td>{{ ele.balance }}</td>
              <td>
                <button class="btn btn-primary" (click)="deposit(ele.id, 100)">Deposit</button>
              </td>
              <td>
                <button class="btn btn-warning" (click)="withdraw(ele.id, 100)">Withdraw</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="d-flex justify-content-center align-items-center depositform m-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form class="form-horizontal bg-white m-4">
          <div class="form-group m-4 p-3">
            <label for="amount">Enter amount</label><br />
            <input
              type="number"
              placeholder="enter amount"
              name="amount"
              [(ngModel)]="depositAmount"
            /><br />
            <button class="btn btn-primary m-2" (click)="depositForm(depositAmount)">
              deposit
            </button>
            <button class="btn btn-primary m-2" (click)="withdrawForm(depositAmount)">
              withdraw
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <h1>transfer money</h1>
  <form></form>
</div>

<div *ngFor="let user of userdata">
  <p>{{ user.name }} - {{ user.email }}</p>
</div>
